*.pyc
raw_data/*
box_counting/data/*
box_counting/figures_png/*
box_counting/figures_eps/*
preprocessing/data/*
preprocessing/figures_png/*
visualisation/figures_png/*
visualisation/theta_int.npz
particle_detection/data/*
particle_detection/figures_png/*
intensity_counting/data/*
isf/data/*
isf/figures_png/*
isf/msd_0.66_obs.npz
DDM/data/*
DDM/figures_png/*
particle_linking/data/*
particle_linking/figures_png/*
MSD/data/*
MSD/figures_png/*
visualisation/data/*
nohup.out
.vscode/settings.json
van_hove/data/*
van_hove/figures_png/*
intensity_counting/figures_png/*
test.png
metadata.json
tmp/*
presentations/paper1/*
test.gif
box_counting/cache/*
workflows/figures/*
cache/*
